<script type="text/javascript">
  $(function() {
    $('.pagination a').attr('data-remote', 'true');
  });
</script>

<% unless @latest_requests.empty? %>
  <div id="latest_requests_id"><%= render partial: "latest_requests" %></div>
<%end%>

<% unless @latest_requests_ans.empty? %>
  <div id="latest_requests_ans_id"><%= render partial: "latest_answered_requests" %></div>
<%end%>

<% unless @my_requests.empty? %>
  <div id="my_requests_id"><%= render partial: "my_requests" %></div>
<%end%>
