<%= form_for @prayer_update, url: update_update_prayer_request_path(@prayer_request.id, @prayer_update.id), html: {class: "form-horizontal"} do |f| %>
  <div class="controls">
    <%= f.text_area :body, :autofocus => true %> 
  </div>
  <br/>
  <div class="controls">
    <%= f.submit 'Save', class: "btn btn-large btn-primary" %>
    <%= link_to 'Cancel', prayer_request_path(@prayer_request.id), class: "btn btn-large" %>
  </div>
<%end%>
